page-home {
	.task-tag{
	    border: 1px solid #32db64;
	    border-radius: 15px;
	    color: #222 !important;
	    font-size: 13px;
	    padding: 3px;
	    text-transform: lowercase;
	    display: inline-block;   
	}

	.task-tag:hover{
		pointer: cursor;
	}

	.task-deadline {
		border-top: 2px solid #32db64;
	}
}
