<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-card *ngFor="let task of tasks | async">

  <ion-card-header>
    <h2>{{ task.title }}</h2>
  </ion-card-header>

  <ion-list>

    <ion-item class="task-deadline">      
      <p><ion-icon name="time"></ion-icon>&nbsp;{{ task.deadline | formatdate }}</p>
    </ion-item>

    <ion-card-content>
      <p>{{ task.description }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="pricetags"></ion-icon>
          <div class="task-tag" *ngFor='let tag of task.tags'>{{ tag | lowercase }}</div>
        </button>
      </ion-col>

      <ion-col>
        <!-- <ion-note>
          11h ago
        </ion-note> -->
      </ion-col>
    </ion-row>
  </ion-list>
  
  </ion-card>

</ion-content>
