<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-card *ngFor="let task of tasks | async">

    <ion-item>
      <h2>{{ task.title }}</h2>
      <button ion-button icon-only clear item-right (click)="presentPopover($event, task.$key, task)"><ion-icon name="more"></ion-icon></button>
    </ion-item>

    <ion-list>

      <ion-item class="task-deadline">      
        <p><ion-icon name="time"></ion-icon>&nbsp;{{ task.deadline | formatdate }}</p>
      </ion-item>

      <ion-card-content>
        <p>{{ task.description }}</p>
      </ion-card-content>

      <ion-item>
        <ion-icon name="pricetags" color="primary"></ion-icon>
        <div class="task-tag" *ngFor='let tag of task.tags' (tap)="sortByTag(tag)">{{ tag | lowercase }}</div>
      </ion-item>

      <ion-row>

        <ion-col>
          <ion-note>
            
          </ion-note>
        </ion-col>
      </ion-row>
  </ion-list>
  
  </ion-card>

</ion-content>
